{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
	 {# inclus le block CSS commun #}
	 {{ parent() }}
	 {# Insertion du fichier JS dans le block stylesheets #}
	 {# La documentation de Recaptcha préconise en effet d'intégrer ce fichier JS dans le head #}
	 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}	

{% block body %}
<div class="container-lg">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2 bg-post border border-dark rounded px-2 px-lg-5 py-2 my-3">	

			<h1 class="h2 text-title-h1 text-center mt-1">Contactez-nous</h1>

			{{ form_start(form) }}

				{# Affichage du champ Fullname #}
			    {{ form_row(form.fullname) }}

			    {# Affichage du champ eMail #}
			    {{ form_row(form.email) }}

			    {# Affichage du champ Phone #}
			    {{ form_row(form.phone) }}

				{# Affichage du champ Message #}
			    {{ form_row(form.message) }}

                {# Affichage du recaptcha #}
                <div id="container-g-recaptcha" class="row m-0 p-0">

                    {# La clé publique est récupérée en paramètre dans le fichier config/packages/twig.yaml #}
                    <div class="g-recaptcha col-6" data-sitekey="{{ google_recaptcha_site_key }}" data-theme="dark" data-size="normal"></div>

                	<div class="col-6 pt-2">
						{# Affichage des erreurs générales du formulaire et donc du Google Recaptcha #}
						{{ form_errors(form) }}                 		
                	</div>

                </div>				    

			    <button class="btn btn-outline-info w-100 mt-0 mb-4">Envoyer mon message</button>		    
	    
			{{ form_end(form) }}
		
		</div>
	</div>
</div>
{% endblock %}