{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container-lg">
    <div class="row mt-5">
        <div class="col-12 col-lg-6 offset-lg-3 bg-post border border-dark rounded px-2 px-lg-5 py-2 my-5">

            <h1 class="h2 col-12 text-title-h1 text-center my-4">Connexion</h1>

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_main_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <label for="inputEmail">Votre Email :</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>

                <label for="inputPassword">Votre mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-outline-info w-100 my-4" type="submit">Se connecter</button>
            </form>           

            <a href="{{ path('app_main_home') }}" class="btn w-100 btn-outline-light w-100 mb-4">Annuler</a>  

            <div class="col-12 mb-4">
                <p>Pour vous inscrire : <a href="{{ path('app_main_register') }}" class="text-title-h1">cliquez-ici</a></p>                
            </div>

        </div>          
    </div> 
</div>
{% endblock %}