<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <title>{{ site_name }} - {% block title %}{% endblock %}</title>

    {# BLOCK CSS #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {# BLOCK JS #}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body class="d-flex flex-column h-100">

    {####  HEADER  ####}
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container-fluid">

          <a class="navbar-brand ms-2 me-4" href="{{ path('app_main_home') }}">Blog<i class="fa-solid fa-blog px-2"></i>Sf6</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarCollapse">

            {# Menu de Gauche #}
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_blog_index') }}"><i class="fa-solid fa-lg fa-newspaper pe-2"></i>Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_main_contact') }}"><i class="fa-regular fa-lg fa-envelope pe-2"></i>Contactez-nous</a>
              </li>
              {% if is_granted('ROLE_BLOGGER') %}                   
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_blog_new_post') }}"><i class="fa-solid fa-lg fa-file-pen pe-2"></i>Nouvelle publication</a>
                </li>              
              {% endif %}
            </ul>

            {# Menu de Droite #}
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item">

                {% if app.user %}
                  <li class="nav-item dropdown">
                      <a  class="nav-link dropdown-toggle text-capitalize" 
                          href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {% if is_granted('ROLE_ADMIN') %}
                            <i class="fa-solid fa-lg fa-user-shield pe-2"></i>
                          {% else %}
                            <i class="fa-regular fa-lg fa-user pe-2"></i>
                          {% endif %}
                          {{ app.user.username }}
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-3" aria-labelledby="navbarDarkDropdownMenuLink">
                      {# Menu de l'interface d'administration #}
                      {% if is_granted('ROLE_ADMIN') %}   
                        <li><a class="dropdown-item mb-2" href="{{ path('app_admin_home') }}"><i class="fa-solid fa-lg fa-gears pe-3"></i>Administration</a></li>
                        <li><hr class="dropdown-divider"></li>  
                      {% endif %}                      
                        <li><a class="dropdown-item mb-2" href="#"><i class="fa-solid fa-lg fa-house-user pe-3"></i>Mon profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_main_logout') }}"><i class="fas fa-lg fa-sign-out-alt pe-3"></i>Me déconnecter</a></li>
                      </ul>
                  </li>
                {% else %}
                  <a class="nav-link" href="{{ path('app_main_login') }}"><i class="fas fa-lg fa-sign-in-alt pe-2"></i>Connexion</a>
                {% endif %}

              </li>
            </ul>            

            {# Formulaire de recherche #}
            <form class="d-flex" method="GET" action="{{ path('app_main_search') }}">
              <input class="form-control me-2" name="search" type="search" placeholder="Trouver une publication" aria-label="Search">
              <button class="btn btn-sm btn-outline-info" type="submit"><i class="fas fa-search"></i></button>
            </form> 

          </div>
        </div>
      </nav>
    </header>

    {####  MAIN  ####}
    <main class="container-fluid flex-shrink-0">
        
      {# Container pour les messages flash #}
      <div id="messages" class="container-md p-0 m-0 mx-auto">
        <div class="row p-0 m-0">
          {% for label, messages in app.flashes %}
            {% for message in messages %}
               <div class="alert alert-{{ label }} col-12" role="alert">{{ message }}</div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      {####  BLOCK PRINCIPAL  ####}
      {% block body %}{% endblock %}

    </main>        

    {####  FOOTER  ####}
    <footer class="footer mt-auto py-2 bg-dark">
      <div class="container">
        <span class="text-muted">Ceci est le footer</span>
      </div>
    </footer>

</body>

</html>